.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f1115, #161922);
  padding: 40px;
}

.single-movie {
  display: flex;
  gap: 50px;
  background: #12141c;
  padding: 40px;
  border-radius: 20px;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.7);
}

.left img {
  width: 260px;
  height: 380px;
  object-fit: cover;

  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.right {
  display: flex;
  flex-direction: column;
}

.right h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #f5c518;
}

.overview span{
  color: #f5c518;
  font-size: 20px;
  font-weight: bold;
}
.overview {
  font-size: 17px;
  color: #ccc;
  line-height: 1.8;
  margin-bottom: 25px;
  max-width: 600px;
}
.release {
  color: #f5c518;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.rating {
  color: #ccc;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.rating svg {
  color: #f5c518;
  margin: 0 5px;
}

.trailer-btn,
.watchlist-btn {
  margin-top: 10px;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.trailer-btn {
  background: #e50914;
  color: #fff;
}

.trailer-btn:hover {
  transform: scale(1.05);
  background: #ff1e1e;
}

.watchlist-btn {
  background: #f5c518;
  color: #000;
}

.watchlist-btn:hover {
  transform: scale(1.05);
}

.trailer-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.trailer-content {
  position: relative;
  width: 80%;
  max-width: 900px;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.9);
  animation: popup 0.3s ease;
}

.trailer-content iframe {
  width: 100%;
  height: 500px;
  border: none;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  color: #ff4d4d;
  z-index: 10;
}

@keyframes popup {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.loading {
  text-align: center;
  color: #aaa;
  margin-top: 50px;
}
